remote_clients/android/HomeworkHelperRemote/gradlew text eol=lf
remote_clients/android/HomeworkHelperRemote/gradlew.bat text eol=crlf
remote_clients/android/HomeworkHelperRemote/gradle/wrapper/gradle-wrapper.jar binary
